name: Check tags

on:
  pull_request:
    types:
      - opened
      - labeled
      - unlabeled
      - reopened
      - synchronize

jobs:
  fail-for-testing:
    runs-on: ubuntu-latest
    steps:
      - name: requires testing
        if: contains(github.event.pull_request.labels.*.name, 'Requires testing')
        run: |
          echo "This PR is currently requires testing"
          exit 1